.react-chatbot-kit-chat-container {
    width: 600px;
}

.react-chatbot-kit-chat-bot-message {
    width: 100%;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #1677ff;
}

.react-chatbot-kit-chat-message-container {
    overflow: hidden;
}

.react-chatbot-kit-chat-message-container:hover {
    overflow-y: scroll;
    scrollbar-width: thin;
}